<div class="card" style="width: 18rem;">
  <img src="{{nombre}}.png" class="card-img-top" alt="foto de {{nombre}}">
  <div class="card-body">
    <h5 class="card-title">{{nombre}}</h5>
    <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Productos relacionados</a>
  </div>
</div>