{{> menu}}

<h3>Frutas del Melipillalbo Campión</h3>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="card-group">
                {{#each frutas}}
                    {{> producto
                        nombre = this
                    }}
                {{/each}}
            </div>
        </div>
    </div>
</div>

{{> modal}}